# Ignore folders
bak/
test/
log/
.deps/
# Used by pytest
.cache/
.eggs/
.pytest_cache/
# Python packaging
dist/
reaction_plane_fit.egg-info/
build/

# Ignore filetypes
*.root
*.pdf
*.m4
*.log
*.out
*.err
*.o
*.so
*.d
G__*.h
G__*.cxx
*.lo
*_Dict.*
*.dirstamp
*.png
*.bak
*.pyc
*.swp
.DS_Store
.project
.vscode

# Ignore notes files
notes.txt
notes.md

# Virtualenv
.env/
.env3/
.py3.7/
